#rooms-wrapper {
  display: flex;
  flex-wrap: wrap;
}

#add-room-btn,
#modal-room-btn,
#modal-room-close-btn {
  padding: 10px 25px;
  border: 1px solid dimgray;
  background-color: var(--main-button-background-color);
  margin: 10px 25px;
}

.room {
  border: 1px solid var(--main-button-border-color);
  margin: 10px 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 200px;
  min-width: 200px;
}

.room-name {
  font-size: large;
  font-weight: bold;
}

.join-btn {
  background-color: var(--main-button-background-color);
  border: 1px solid var(--main-button-border-color);
  padding: 5px 20px;
}

.room-modal {
  position: absolute;
  width: 100%;
  display: none;
  background: #ccc;
  opacity: 1;
}

.d-block {
  display: block;
}

.room-modal-body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--main-button-background-color);
  border: 1px solid var(--main-button-border-color);
  color: #000;
  padding: 1rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
